*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

:root {
  --light-purple: #8985e9;
  --Dark-purple: #6b68c7;
  --light-red: #ff9899;
  --lighter-purple: #ccccff;
  --light-orange: #ffcc99;
  --light-green: #ccffcc;
  --Light-Pink: #ffb6c1;
  --Light-Salmon: #ffa07a;
  --Light-Orange: #ffd580;
  --Light-Yellow: #ffffe0;
  --Light-Gold: #fafad2;
  --Pale-Green: #98fb98;
  --Mint-Green: #aaf0d1;
  --Light-Cyan: #e0ffff;
  --Light-Teal: #aeeeee;
  --Light-Sky-Blue: #87cefa;
  --Light-Blue: #add8e6;
  --Alice-Blue: #f0f8ff;
  --Light-Steel-Blue: #b0c4de;
  --Light-Violet: #e0b0ff;
  --Light-Magenta: #ffb3ff;
  --Light-Gray: #d3d3d3;
  --Dark-Light-Gray: #8c8b8b;
  --Light-Gray-2: #e0e0e0;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
  --background-color: #fafafa;
}

body{
  padding: 0;
  margin: 0;
}

main{
 margin: 20px;
 display:flex;
 flex-direction:column;
 justify-content: space-between;
 align-items: center;
 font-family: "Poppins", sans-serif;
 
}

.topbar1{
   display: flex;
   align-items: center;
   gap: 8rem;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: larger;

   svg.person1{
    width: 0.9rem;
    fill: var(--light-purple);
    -webkit-transform: scaleX(-1);
transform: scaleX(-1);

   }

   svg.menu1{
    width: 0.4rem;
   }
 }

 button{
    padding: 0;
    width: 60px;
    border: 0;
    fill: var(--light-purple);
    display: flex;
    background-color: transparent;
    margin: -30%;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;
    position: relative;
    left: 7rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }

  .date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    cursor: pointer;
    margin: 30px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    border: 10px solid var(--Light-Gray-2);
    background-color: var(--Light-Gray-2);

  }


  /* .today:hover{
    background-color: var(--Dark-purple);
    color: white;
    border: solid var(--Dark-purple);
} */

  .day{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 30px;

    .all{
      border: 0.1px solid black;
      border-radius: 20px;
      width: 50px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .all:hover{
    color: white;
    background-color: #8985e9;
    border: 0px solid;
  }

  .morning{
    border: 0.1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .morning:hover{
    color: white;
    background-color: #8985e9;
    border: 0px solid;
  }

  .afternoon{
    border: 0.1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .afternoon:hover{
    color: white;
    background-color: #8985e9;
    border: 0px solid;
  }

  .evening{
    border: 0.1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .evening:hover{
    color: white;
    background-color: #8985e9;
    border: 0px solid;
  }

  .firstlist{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: -22px;
    gap: 10px;
    white-space: nowrap;
    font-size: 17px;



    .goals{
        display: flex;
        align-items: center;
        gap: 15px;
        border: 10px solid var(--light-red);
        background-color: var(--light-red);
        border-radius: 6px;
        width: 18.5rem;
      }
    
      .work{
        display: flex;
        align-items: center;
        gap: 15px;
        border: 10px solid var(--lighter-purple);
        background-color: var(--lighter-purple);
        border-radius: 6px;
        width: 18.5rem;
      }
    
      .Meditation{
        display: flex;
        align-items: center;
        gap: 15px;
        border: 10px solid var(--light-green);
        background-color: var(--light-green);
        border-radius: 6px;
        width: 18.5rem;
      }
    
      .basketball{
        display: flex;
        align-items: center;
        gap: 15px;
        border: 10px solid var(--Light-Salmon);
        background-color: var(--Light-Salmon);
        border-radius: 6px;
        width: 18.5rem;
      }
  }


  .done{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
    margin: 10px;
    margin-left: -20px;
    gap: 10px;
    white-space: nowrap;
    font-size: 17px;

    
    .sleep{
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;
        gap: 10px;
        border: 10px solid var(--Light-Sky-Blue);
        background-color: var(--Light-Sky-Blue);
        border-radius: 6px;
        width: 18.5rem;
    }

    .play{
        display: flex;
        align-items: center;
        gap: 20px;
        border: 10px solid var(--Light-Magenta);
        background-color: var(--Light-Magenta);
        border-radius: 6px;
        width: 18.5rem;
    }

    .workout{
        display: flex;
        align-items: center;
        gap: 15px;
        border: 10px solid var(--Light-Blue);
        background-color: var(--Light-Blue);
        border-radius: 6px;
        width: 18.5rem;
    }

  }

  span{
    font-size: 30px;
  }

  .Competed{
    font-family: "Poppins", sans-serif;
    color: var(--Dark-Light-Gray);
    font-size: 13px;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content:left;
    position: relative;
    right: 20px;
  }

  hr.line{
    display: flex;
  }

  .content{
    display: flex;
    flex-direction:column ;
    /* margin: 10px; */
    margin-left: 30px;
  }

  span.check1{
    position: relative;
    left: 50px;
  }

  .check2{
    outline: none;
    position: relative;
    left: 33px;
  }